shadow hold workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8b9f791d-5091-4550-a272-9a7680f74c91",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6dbd54d4-17e6-46fa-ba6c-8d005a9ce072",
      "name": "Webhook",
      "webhookId": "8b9f791d-5091-4550-a272-9a7680f74c91"
    },
    {
      "parameters": {
        "tableId": "meetings",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.body.subject }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "fe48e217-23a1-4d65-8baf-d6b731d2946a",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "QYqDd2VbfM1nLwN9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "brian@sullivandesigns.co",
          "mode": "list",
          "cachedResultName": "brian@sullivandesigns.co"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "additionalFields": {
          "color": "1",
          "description": "SHADOW HOLD - Pending Confirmation",
          "showMeAs": "transparent",
          "summary": "={{ $json.subject }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        576,
        0
      ],
      "id": "6f2c714a-6b6c-4d55-801b-4feb4277c9ab",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TwhqlnJCb4atM0KW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "time_options",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "meeting_id",
              "fieldValue": "={{ $('Code in JavaScript').item.json.meetingId }}"
            },
            {
              "fieldId": "datetime",
              "fieldValue": "={{ $('Code in JavaScript').item.json.startTime }}"
            },
            {
              "fieldId": "calendar_event_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "calendar_provider",
              "fieldValue": "google"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "156aa1b7-f990-4f40-af3a-75a461a8b18a",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "QYqDd2VbfM1nLwN9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the meeting record from Supabase\nconst supabaseData = $input.first().json;\nconst meetingId = supabaseData.id;\n\n// Get original webhook data\nconst webhookData = $('Webhook').first().json.body;\n\n// Extract all time options\nconst timeOptions = [];\nfor (let i = 1; i <= 10; i++) {\n  const timeField = `timeOption${i}`;\n  if (webhookData[timeField]) {\n    const startTime = new Date(webhookData[timeField]).toISOString();\n    const endTime = new Date(new Date(webhookData[timeField]).getTime() + 60*60*1000).toISOString();\n    \n    timeOptions.push({\n      meetingId: meetingId,\n      subject: webhookData.subject,\n      startTime: startTime,  // Now both have .toISOString()\n      endTime: endTime\n    });\n  }\n}\n\nreturn timeOptions.map(option => ({ json: option }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "d0a24bd1-1641-42c7-b7e0-1b93ae8a0e9f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5879718f-259a-4567-b728-cda9ad13f230",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d98dc344fac74dd381dc7b7a9e46746cbeaad80de89c06262b6888c27f04527"
  },
  "id": "hro3YOs867QPt8FF7FlZR",
  "tags": []
}